@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@theme {
  /* Gradient colors */
  --color-primary: #E83C39;
  --color-primary-hover: #C83331;
  --color-primary-light: #FECACA;
  --color-skyblue: #E83C39;
  --color-lightskyblue: #FCA5A5;
  --color-dark: #1D1D1B;
  --color-gray: #6B7280;
  --color-gray-light: #F3F4F6;

  /* Shadow */
  --shadow-3xl: 0px 4px 6px -2px #0000000D, 0px 10px 15px -3px #0000001A;
  --shadow-auth: 0 20px 25px -5px #0000001a;
  --shadow-dark-auth: rgba(220, 38, 38, 0.1) 0px 12px 28px 0px, rgba(220, 38, 38, 0.05) 0px 2px 4px 0px, rgba(220, 38, 38, 0.03) 0px 0px 0px 1px inset;

  /* font size */
  --text-xm: 1.125rem;
  --text-9xl: 6.5rem;
  --text-40: 2.5rem;
  --text-52: 3.25rem;
  --text-sm: 0.875rem;

  /* Breakpoint */
  --breakpoint-xs: 23.438rem;
  /* 375px */
  --breakpoint-mobile: 32.5rem;
  /* 520px */

  /* breakpoint / max-w */
  --spacing-45p: 45%;
  --spacing-85p: 85%;
  --spacing-90p: 90%;
  --spacing-68: 17.375rem;

  --spacing-540: 33.75rem;
  /* 540px */
  --spacing-8xl: 87.5rem;
  /* 1400px */

  /* animation */
  --animate-slide: slide 40s linear infinite;

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E83C39;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #C83331;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #E83C39 #f1f1f1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

section {
  @apply py-24
}